<p class="user-new-heading">Welcome new user!</p>

<section class="users-new">
  <%= form_with url: users_path, method: :post do |form| %>

    <div class="user-form-input-section">
      <p class="user-form-input-label">First Name:</p>
      <%= form.text_field :first_name, class: "user-form-input" %>
    </div>

    <div class="user-form-input-section">
      <p class="user-form-input-label">Last Name:</p>
      <%= form.text_field :last_name, class: "user-form-input" %>
    </div>

    <div class="user-form-input-section">
      <p class="user-form-input-label">Email:</p>
      <%= form.email_field :email, class: "user-form-input" %>
    </div>

    <div class="user-form-input-section">
      <p class="user-form-input-label">Password:</p>
      <%= form.password_field :password, class: "user-form-input" %>
    </div>

    <%= form.submit "Sign Up!", class: "user-form-submit-button" %>

  <% end %>
</section>
